html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  margin: 5px;
  color: crimson;
  font-weight: 600;
}
li {
  list-style-type: none;
  margin: 10px 0;
}
/*///// using root for variables ///////*/
:root {
  --main-green-light: #eafaf1;
  --main-radius: 4px;
  --main-padding: 4px;
  /* Colours */
  --primary-colour: hsl(242, 79%, 53%);
  --secondary-colour: hsl(224, 27%, 45%);
  --font-colour: hsl(0, 0%, 26%);
  --bg-colour: rgba(255, 255, 255, 0.381);
  --body-colour: linear-gradient(to top, #cbeef8 0%, #eafffc 100%);
}

.dark {
  /* Dark theme mode colours */
  --primary-colour: hsl(242, 79%, 77%);
  --secondary-colour: hsl(224, 20%, 59%);
  --font-colour: hsl(240, 100%, 94%);
  --bg-colour: hsla(240, 25%, 12%, 0.493);
  --body-colour: #090519;
}

/*///// end using root for variables ///////*/

/*/////// styling the containers/////// */
body {
  background: var(--body-colour);
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1.5fr 1.2fr 0.8fr;
  /* background-color: black; */
  /* background: rgb(254, 255, 214); */
  grid-template-areas:
    'nav nav nav nav nav'
    'sidebar main main main main'
    'sidebar content1 content2 content3 content4'
    'sidebar footer footer footer footer';
  grid-gap: 0.3rem;
  transition: all 1s ease;
  color: var(--font-colour);
  background: var(--mainBackground-colour);
}

nav {
  display: flex;
  position: sticky;
  top: 0px;
  background: var(--bg-colour);
  grid-area: nav;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  justify-content: space-between;
  text-align: center;
  transition: all 1s ease;
  z-index: 2;
  width: auto;
}
main {
  background: var(--bg-colour);
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  transition: all 1s ease;
}
.sidebar {
  background: var(--bg-colour);
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  text-align: center;
  transition: all 1s ease;
}
.content1 {
  background: var(--bg-colour);
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  text-align: center;
  transition: all 2s ease;
}
.content2 {
  background: var(--bg-colour);
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  text-align: center;
  transition: all 2s ease;
}
.content3 {
  background: var(--bg-colour);
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  text-align: center;
  transition: all 2s ease;
}

footer {
  background: var(--bg-colour);
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
/* /////////media query //////// */
@media only screen and (max-width: 750px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 2fr 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'nav'
      'main'
      'sidebar'
      'content1'
      'content2'
      'content3'
      'content4'
      'footer';
    height: 400vh;
    text-align: center;
    grid-gap: 0.3rem;
  }
  .theme-switch-wrapper {
    font-size: 11px;
  }

  form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  #submission-confirmed,
  #display-name,
  #display-email,
  #display-message {
    text-align: left;
  }
}

/* ///////// END media query //////// */
