.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {
  color: #888;
  /* font-size: 2rem; */
  font-weight: 600;
  letter-spacing: 1x;
}

.pricing-price {
  color: #2b83f8;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button,
#submit-form {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  /* padding: 20px 25px; */
  color: #034ebf;
  display: inline-block;
  padding: 15px 35px;
  /* font-size: 32px; */
  /* font-weight: 10; */
  text-decoration: none;
  margin: 25px 0;
  transition: background-color all 20ms ease-in-out;
}
.pricing-button:hover,
#submit-form:hover,
.pricing-button:focus {
  background-color: rgb(221, 155, 221);
}

.pricing-button.is-featured:hover {
  background-color: rgb(136, 3, 136);
}

.text-wrapper {
  min-height: 150px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar > img {
  margin-top: 0.8rem;
  width: 45%;
}

.sidebar > p {
  font-size: 1rem;
  text-align: center;
  margin: 0.5rem;
}

.social-icons {
  display: flex;
}

.social-icons-img {
  width: 1.5rem;
  margin-left: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  filter: invert(26%) sepia(100%) saturate(2371%) hue-rotate(202deg)
    brightness(99%) contrast(108%);
}
.social-icons-img:hover {
  transform: scale(1.3) perspective(1px);
}

.pricing-header {
  color: crimson;
  font-weight: 600;
  letter-spacing: 1x;
}

.contact-form {
  color: #2b83f8;
}

[aria-invalid='true'] {
  box-shadow: 0 0 0 3px red;
}

input {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

textarea {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#submit-form {
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#submission-confirmed,
#display-name,
#display-email,
#display-message {
  margin: 0.5rem;
}

#warning-text {
  color: red;
  font-size: medium;
}
